@model IEnumerable<WebShopPet.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>
        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="new-arrival-product">
                                <div class="new-arrivals-img-contnent">
                                    @{
                                        string ImagePath = item.PRIMARY_IMAGE;
                                        string tag = "~/Admin/PRODUCTs/Details/" + item.ID;
                                    }
                                    <a href="@Url.Content(tag)">
                                        <img class="img-fluid" src="@Url.Content(ImagePath)" alt="" width="200" height="200">
                                    </a>
                                </div>
                                <div class="new-arrival-content text-center mt-3">
                                    <h4>@Html.DisplayFor(modelItem => item.NAME)</h4>
                                    <h6>@Html.DisplayFor(modelItem => item.CATEGORy.NAME)</h6>

                                    <span class="price">@Html.DisplayFor(modelItem => item.PRICE) VNĐ</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-primary shadow btn-xs" }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "btn btn-warning shadow btn-xs" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
