@model WebShopPet.Models.ORDER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ORDER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
