@model PagedList.IPagedList<WebShopPet.Models.USER>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";   
}

<h2>Người dùng</h2>

<div class="card">
    @using (Html.BeginForm())
    {
        @Html.TextBox("searchString")
        <input type="submit" value="Tìm">
    }
    <div class="form-head d-flex mb-5     align-items-start">
        @*<div class="input-group search-area d-inline-flex">
                <input type="text" class="form-control" placeholder="Search here">
                <div class="input-group-append">
                    <span class="input-group-text"></span>
                </div>
                <input type="submit" value="Tìm"/>

            </div>*@
        @*@Html.ActionLink("+ Tạo", "Create", null, new { @class = "btn btn-success ml-auto px-5" })*@

    </div>

    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-sm mb-0 table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.SapTheoTen })
                        </th>
                        <th>
                            @Html.ActionLink("Giới tính", "Index", new { sortOrder = ViewBag.SapTheoSex })
                        </th>

                        <th>
                            Email
                        </th>

                        <th>
                            @Html.ActionLink("Vai trò", "Index", new { sortOrder = ViewBag.SapTheoRole })
                        </th>
                        <th>
                            @Html.ActionLink("Trạng thái", "Index", new { sortOrder = ViewBag.SapTheoStatus })
                        </th>
                        <th>
                            Ảnh đại diện
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="customers">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Users", new { id = item.ID })">
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </a>
                            </td>
                            <td>
                                @if (item.SEX == true)
                                {
                                    <p>Nam</p>
                                }
                                else
                                {
                                    <p>Nữ</p>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>

                            <td>
                                @if (item.ROLE == 1)
                                {
                                    <p>Admin</p>
                                }
                                else
                                {
                                    <p>Người dùng</p>
                                }
                            </td>
                            <td>
                                @if (item.STATUS == 1)
                                {
                                    <p>Hoạt động</p>
                                }
                                else
                                {
                                    <p>Khóa</p>
                                }
                            </td>
                            <td>
                                @{
                                    string imgPath = item.AVATAR;
                                    string tag = "~/Admin/USERs/Details/" + item.ID;
                                }
                                @if (item.AVATAR != null)
                                {
                                    <a href="@Url.Content(tag)">
                                        <img src="@Url.Content(imgPath)" width="150" height="150" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content(tag)">
                                        <img src="~/Assets/images/no-image.png" width="150" height="150" />
                                    </a>
                                }

                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-primary shadow btn-xs" }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "btn btn-danger shadow btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
