@model WebShopPet.Models.USER

@{
    ViewBag.Title = "Login";
}


<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    @using (Html.BeginForm("create", "Session", FormMethod.Post, new { @class = "theme-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", @id = "email", @required = "required", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @id = "review", @required = "required", @placeholder = "Nhập mật khẩu" } })
                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Đăng nhập" class="btn btn-solid" />
                    }
                    </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Tạo tài khoản</h6>
                    <p>
                        Sign up for a free account at our store. Registration is quick and easy. It allows you to be
                        able to order from our shop. To start shopping click register.
                    </p>
                    <div >
                        @Html.ActionLink("Tạo tài khoản", "create", new {controller = "Users" }, new { @class="btn btn-solid" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>